	width:1.2em;
	height:1.2em;
}.icon-enlarge:before {
    font-family: "fontawesome-webfont";
    content: "\f00e";
    padding-left: 10px;
    padding-top:10px;
	padding-right: 10px;
    display:inline-block;
    padding-bottom:10px;
    font-size:5vw;
    border: none;
	border: none!important;
	position:absolute;
    background-color:none!important;
	color:black;
}
.dealimage{
	display: inline-block;
}


}